<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./stylesheets/style.css"/>
  <title>Document</title>
</head>

<body>
 <div class='container'>
      <form class='register col-6'>
          <label for="exampleInputEmail1" class='col-12' style="text-align:center;  font-size:30px;">Register</label>
          <hr/>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp" placeholder="Enter username"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"/>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1"/>
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    <br/>
    <br/>
    <br/>
      <form class='login col-6'>
          <label for="exampleInputEmail1" class='col-12' style="text-align:center; font-size:30px;">Login</label>
          <hr/>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input name="text" class="form-control" id="exampleInputUsername2" aria-describedby="emailHelp" placeholder="Enter username"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"/>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck2"/>
          <label class="form-check-label" for="exampleCheck2">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <button class='request btn btn-primary'>REQUEST POLLS</button>
      <ul class='unstyled-order' id='polls_list'></ul>
      </div>      
</html>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="./javascripts/register&login.js"></script>
<script src="./javascripts/polls_request.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
